
<h3>Contact</h3>
<p>
Dr. Jonathan Rodenfels <br>
Max Planck Institute of Molecular Cell Biology and Genetics <br>
Pfotenhauerstr. 108<br>
01307 Dresden, Germany<br>
email: rodenfels (#!) mpi-cbg.de <br>
<br>
<a href="http://rodenfels.github.io"><img class="inline-block mem-icon" src="/static/img/Globe.svg"></a>
<a href="http://scholar.google.com/citations?user=S5yBEcAAAAAJ"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
<a href="http://twitter.com/J_Rodenfels"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
<a href="http://orcid.org/0000-0003-3538-8482"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
<a href="http://www.linkedin.com/in/jonathan-rodenfels"><img class="inline-block mem-icon" src="/static/img/lin_logo.svg"></a>
<a href="http://github.com/rodenfels"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
</p>

<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
