
<h3>Contact</h3>
<p>
Marco Fumasoni <br>
Instituto Gulbenkian de Ciência (IGC) <br>
Rua da Quinta Grande 6 <br>
2780-156 Oeiras, Portugal <br>
email: mfumasoni (#!) igc.gulbenkian.pt <br>
<br>
<a href="https://fitzvero.github.io/LabPage.github.io"><img class="inline-block mem-icon" src="/static/img/Globe.svg"></a>
<a href="https://scholar.google.com/citations?user=RcN_8nkAAAAJ&hl=en"><img class="inline-block mem-icon" src="/static/img/gscholar_logo.svg"></a>
<a href="http://twitter.com/marcofumasoni"><img class="inline-block mem-icon" src="/static/img/twitter2_logo.svg"></a>
<a href="http://orcid.org/0000-0002-4507-7824"><img class="inline-block mem-icon" src="/static/img/orcidid_logo.svg"></a>
<a href="http://github.com/rodenfels"><img class="inline-bloc mem-icon" src="/static/img/github_logo.svg"></a>
</p>

<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
