
@media (min-width: 992px) {
   .collapse {
       display: none !important;
   }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.paral {
  height: 220px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  /*background-position: 50% 50%;*/
}

.parall {
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  /*background-position: 50% 50%;*/
}


.paral h1 {
color: #f5f5f5;
font-size: 50px;
text-shadow: 3px 3px 6px #050505;
/*padding-top: 60px;*/
/*line-height: 100px;*/
}

.parall h1 {
color: #f5f0f0;
font-size: 50px;
text-shadow: 5px 5px 8px #050505;
/*padding-top: 60px;*/
/*line-height: 100px;*/
}


.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chart {
  position: relative;
  width: 100%;
  height: 500px
}

.smalltxt {
  font-size: 0.9rem;
}

.mem-icon {
  height: 1em;
}

.navb-icon {
  height: 1.4em;
  display: inline-block;
}

.navbar {
  margin-bottom: 0px;
}

.welcomefont {
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


/*
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/*
.navbar-default {
  background-color: #052049;
  border-color: #668a75;
}

.navbar-default .navbar-brand {
  font-family: "Lucida Bright", Georgia, serif;

  color: #f6f6f6;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fdfdfd;
}
.navbar-default .navbar-text {
  color: #f6f6f6;
}
.navbar-default .navbar-nav > li > a {
  color: #f6f6f6;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fdfdfd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fdfdfd;
  background-color: #668a75;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fdfdfd;
  background-color: #668a75;
}
.navbar-default .navbar-toggle {
  border-color: #668a75;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #668a75;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f6f6f6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f6f6f6;
}
.navbar-default .navbar-link {
  color: #f6f6f6;
}
.navbar-default .navbar-link:hover {
  color: #fdfdfd;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f6f6f6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fdfdfd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fdfdfd;
    background-color: #668a75;
  }
}
*/
